.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    .navbar-brand {
        &:hover {
        }
        &:active {
        }
        &:focus {
        }
    }
    .navbar-nav {
        .nav-link {
            &:hover {
            }
            &:active {
            }
            &:focus {
            }
        }
    }
}
.container {
}
pre {
    pre {
        script {
        }
    }
}
